{{>navBarStudent}}
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Dashboard</h1>
        <center><a href="javascript:;" class="avatar rounded-circle">
    <img alt="Image placeholder" src="{{imgurl}}">
</a></center>
        <p class="lead text-muted">Welcome {{fname}} {{lname}} Student ID : {{studentID}}</p>
        <p class="lead text-muted">email: {{email}}</p>
        <p class="lead text-muted">Total Points: {{points}}</p>
        
        <div>
          <h4 class="mb-2">My Courses</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Actions</th>
                <th>Quiz Status</th>
                <th>Quiz Report</th>
               
              </tr>
            </thead>
            <tbody>
              {{#each course}}
              <tr>
                <td>{{this.courseName}}</td>
                <td>{{this.courseID}}</td>

                <td>
                  <a href="takeQuiz?courseID={{this.courseID}}" class="btn btn-primary">Take Quiz</a>
                </td>
                <td>
                  {{#if this.quizActive}}
                  <button type="button" class="btn btn-success btn-sm"
                    disabled>Active</button>
                  {{else}}
                  <button type="button" class="btn btn-danger btn-sm"
                    disabled>In
                    Active</button>
                  {{/if}}
                </td>
                <td>
                  <a href="viewReport?courseID={{this.courseID}}" class="btn btn-success">View Report</a>
                </td>
                
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <hr />
      </div>
    </div>
  </div>
</div>
{{>footer}}